<div id="women_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">PEGGY BUCKLIN</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-women/10_4587.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text spaceabove20">&ldquo;My best friend, Nicole, and I met Peggy Bucklin in 1987.  She was the leader of our Presbyterian Youth Group.  Every life that Peggy touched was changed in some way.  She taught us all what it meant to be strong and to believe in ourselves.  She was bright and beautiful and we miss her every day.  Peggy would want us to go on and not to cry but with this Quilt piece we offer our tears and our joy and our friend&rsquo;s cherished memory for everyone to see and share with us.  We love you, Peggy.&rdquo;</p>
                <p class="byline spacebelow20">--Pagan Morris & Nicole Evans-Blanck</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>
