

.explore_stories-heading {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3em;
  line-height: 1.2em;
  margin-top: 5%;
}

.threads{
  color: #9f7ad1;
  font-size: 1.5em;
}

/*buttons as id's in case we need to target them*/
#aids_activism-button, #latino-button, #african_american-button, 
#aids_couples-button, #healing-button, #women-button, #theater_arts-button, 
#families-button, #community-button, #children-button {
  width: 102%;
  padding-left: 10%;
  padding-top: 6px;
  padding-bottom: 4px;
  /*top: 40%;
  margin-left: -15px;
  margin-right: -30px;
  margin-top: 10px;*/
  }

.button-active {
  background-color: #F495B4; 
}
.button-inactive {
  background-color: #AAAAAA;
  color: #CCCCCC; 
}

.button-label {
  font-size: 1.4em;
  line-height: 1.4em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 1%;
  padding-bottom: 1%; }


.explore_stories-menu {
  font-size: 1.3em;
  width: 100%;
  line-height: 1.9em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 1%;
  padding-bottom: 1%; }


/*generic smartphone in portrait mode*/
@media only screen 
    and (min-width: 320px) 
    and (max-width: 736px) 
    {
      .explore_stories-heading {
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 2.3em;
        line-height: 1.2em;
        margin-top: 2%;
      }
    }

/*generic smartphone in landscape mode*/
@media only screen 
    and (min-width: 320px) 
    and (max-width: 736px) 
    and (orientation: landscape) {
      .explore_stories-heading {
        font-size: 3em;
        margin-top: 2%;
      }
    
    }
