#view_random-heading {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3em;
  line-height: 1.2em;
  margin-top: 5%;
  /*margin-left: -10%;*/ }

.display_panel {
  width: 110%;
  top: 40%;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  /*margin-top: 10px;*/
  background-color: #F495B4;
}

.panel_img {
    background-color: black;
}
