#background_2 {
  /*explore page*/
    background-image: url("../../assets/images/backgrounds/background2.jpg");
    background-repeat: no-repeat;
    background-position: 40% 0%;
    background-attachment: fixed;
    background-size: auto;
    min-height: 1200px;
    text-align: center;
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #d9708f;
}

.pg-title {
  font-size: 4em;
}