@import "~variables.scss";

#explore-heading{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px; 
}

.button-default {
    display: table;
    width: 100%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;    
}
#explore_the_quilt-button {
    @extend .button-default;
    top: 40%;
    background-color: $lt-pink; 
}

#explore_stories-button {
    @extend .button-default;   
    background-color: $bittersweet; }
