@import "~variables.scss";

#background_2 {
  /*explore page*/
    background-image: url("../../assets/images/backgrounds/background2.jpg");
    background-repeat: no-repeat;
    background-position: 40% 0%;
    background-attachment: fixed;
    background-size: auto;
    min-height: 1200px;
    text-align: center;
    overflow: hidden;
    margin-left: $bak-margin-left;
    margin-right: $bak-margin-right;
    margin-top : $bak-margin-top;
    margin-bottom: $bak-margin-bottom;
    background-color: $pink;
}

.pg-title {
  font-size: 4em;
}