<div id="children_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                <!--<div class="col-xs-12">-->
                    <div class="heading">Tamika</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-children/8_4890.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
            <!--<div class="col-xs-12 ">-->
                <p class="body_text">&ldquo;Six years is not very long, but six years is all it took for her to belong.  To fill many hearts, to catch everyone&rsquo;s eye, my Precious Angel never left my side.  Let her be an example of those who don&rsquo;t know, people don&rsquo;t last, everyone goes…No more aches, pains, moans or groans.  Just her laughter remains in my mind.  The glow of her spirit that still remains in my heart.&ldquo;</p>
                <p class="byline">--Iisha Stevens</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>