<div id="heal_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-1 col-xs-10">
                <div class="heading">Ted Galeza</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)= 'onNavForward()'></div>
        </div>

        <div class="row">
            <div class="col-sm-6 co-sm-offset-1 spaceabove20">
                <p class="body_text">&ldquo;I loved giving Ted funny, off-beat gifts and gave him his first Pig, which started a a collection of over 100 pigs many which accentuated his irreverent sense of humor…in his last house in San Francisco, he had an artist paint a wonderful mural on the ceiling of his living room, a la Sistine Chapel.  A sky of angels floated in a sea of clouds…one in the central mandala had a pig face!</p>
                <p class="body_text">Shortly after he died, Ted came to me in a dream and gave me the first directions that began the design of the panel.  I merely &lsquo;followed orders&rsquo; as I created.  I tried to show Ted as he saw himself.  He was right there with me…laughing his hearty laugh and calling out his yeas and nays.  It was a deeply spiritual experience for me, filled with grief and completion…an intense labor of love that brought me exquisite joy.&rdquo;</p>
                <p class="byline">--Judy Gerard</p>
                <p class="body_text sapacebelo40">This panel is also part of the Creative Community Thread</p>
            </div>
            <div class="col-sm-6">
                <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
                    <audio id="audioplayer" controls>
                        <source src="assets/threads/{audio.mp3}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>-->
                <div class="row spaceabove10 align-center">
                    <img src="assets/threads/healing/images/6_5070.jpg" width="100%">
                </div>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>