<div id="aa_bak3"><!--background-->
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
			      <div class="col-xs-offset-1 col-xs-10">
			          <div class="heading">JOSE A. ALVAREZ</div>
			      </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

		<div class="row text-center spaceabove20 spacebelow10 audio_bak">
			<audio id="audioplayer" controls>
				<source src="assets/threads/aids-activism/audio/Jose.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
		</div>

		<div class="row spaceabove20">
			<!--<div class="col-md-offset-1 col-md-10 ">-->
        <img src="assets/threads/aids-activism/images/4_jose_a_alvarez.jpg" width="90%">
			<!--</div>-->
		</div>

		<div class="row spaceabove20">
			<div class="col-xs-offset-1 col-xs-10 ">
				<p class="body_text">&ldquo;Jose is praised for bringing AIDS programs to Philadelphia’s Latino community and he was so committed that often he literally gave the shirt off his back to those in need… He was very laid-back and shy, but he was passionate and single-minded in his commitment to doing whatever he could to help people with AIDS.</p>
				<p class="body_text">He was very proud of being Puerto Rican and he wanted to portray a positive role image with his appearance but charity limited his wardrobe.  He only owned one pair of shoes.  When he bought one pair, he would give the other away.&rdquo;</p>
				<p class="byline">&mdash;Andy Wallace, Philadelphia Inquirer</p>
        		<p class="body_text spacebelow40">This story is also part of the Latino Community Thread. <a href="#">Click here</a> if you would like to go to that thread.</p>
			</div>
		</div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
	</div>
</div>