<div id="community_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-2 col-xs-9">
                <div class="heading">Harvo Aoki</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!-- <div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div> -->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-community/6_3087.jpg" width="90%">
        </div>

        <div class="row spaceabove20 spacebelow40">
            <div class="col-sm-6 co-sm-offset-1">
                        
              <p class="body_text">
              &ldquo;My friendship with Mr. Aoki didn&rsquo;t start off that great.  In a way he seemed like a total nerd.  I was a 14 year-old freshman with a very bad attitude.  The days passed and I began to see him not only as a teacher, but in a way he was like a role model.  No, he was more than that.  In my eyes he became almost something holy.  I learned so much about life and how to save the important and special things I like such as a sunset or a flower in bloom. 
              </p>
              <p class="body_text">
              I want him to be remembered as an outstanding teacher, an artist and as a beautiful friend.  To Mr. Aoki wherever you are:  We love you.  I&rsquo;ll miss you more than anyone.&ldquo; 
              </p>
              <p class="byline">
              Jose Perez, Project 10
              </p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>