<div id="women_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">Women and AIDS</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <!--<div class="row spaceabove20">
            <img src="assets/threads/{quiltimage.jpg}" width="90%">
        </div>-->

        <div class="row spaceabove40">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text">Women were always at risk of getting HIV, but they were not considered part of “risk groups” – especially in the beginning of the crisis. At the time, the medical and scientific community had incorrect ideas about women’s health and women’s bodies – and on how the virus was transmitted, resulting in the idea that women could not be affected by HIV. </p>
                <!--<p class="byline"></p>-->
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>
