<div id="aa_bak3"><!--background-->
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
			      <div class="col-xs-offset-1 col-xs-10">
			          <div class="heading">Richard Cahalane</div>
			      </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

		<div class="row spaceabove20 spacebelow10 audio_bak text-center">
			<audio id="audioplayer" controls>
				<source src="assets/threads/aids-activism/audio/Rich.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
		</div>

		<div class="row spaceabove20">
			<!--<div class="col-md-offset-1 col-md-10 ">-->
                <img src="assets/threads/aids-activism/images/6_rich_cahalane.jpg" width="90%">
			<!--</div>-->
		</div>

		<div class="row spaceabove20 spacebelow40">
			<div class="col-xs-offset-1 col-xs-10 ">
          <p class="body_text">&ldquo;My name is Ben Lieberson.  I&rsquo;m six years old.  My Dad&rsquo;s real name was Rich Cahalane but I used to call him Iggy.  He died when I was 3 years old.  I made this panel for The AIDS Quilt because my Dad died of AIDS.&ldquo;</p>
          <p class="byline spacebelow20">&mdash;Ben Lieberson, Jan. 18, 1995</p>
          <p class="body_text">&ldquo;Rich Cahalane was an extraordinary man.  He was a social activist, a loving father, my best friend and husband.</p>
          <p class="body_text">Rich turned his rage at social and political injustice into powerful creative energy.  Rich's gentle spirit lives on -- in those who loved him and the many people whose lives he touched who never knew him.&rdquo;</p>
          <p class="byline">&mdash;Debbie Lieberson  (Ben's Mom)</p>
			</div>
		</div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
	</div>
</div>