<div id="women_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">ERIN GOLDSTONE</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-women/7_4534.png" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text">&ldquo;Today, May 31, 1996, my granddaughter, Nicole, graduated from the eighth grade.  It was a wonderful and very important event in her life.    Three years ago she graduated from the fifth grade and the most significant difference between then and now is that in 1993, her mother Erin Goldstone, was in the audience to watch.  I know that Erin was here today, too and that she will be at all the other important happenings of her daughter&rsquo;s life.  She will be with us in our hearts and in spirit… We will remember her and love her always.&rdquo;</p>
                <p class="byline spacebelow40">--Dorothy Goldstone, mother</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>
