<div id="children_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-1 col-xs-10">
            <!--<div class="col-xs-12">-->
                <div class="heading">Jeremy Augustin</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)= 'onNavForward()'></div>
        </div>

        <div class="row spacebelow40">
            
            <div class="col-sm-6 spaceabove20">
                <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
                    <audio id="audioplayer" controls>
                        <source src="assets/threads/{audio.mp3}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>-->
                <div class="row spaceabove20  align-center">
                    <img src="assets/threads/aids-children/5_4649.jpg" width="100%">
                </div>
            </div>

            <div class="col-sm-6 co-sm-offset-1 spaceabove20">
                <p class="body_text">&ldquo;Jeremy Augustin was dearly loved by all of us at Connor&rsquo;s Nursery, a residential home for infants and children with AIDS.  Jeremy spent all four years of his entire life with us. Though he could not walk or talk, he could communicate very well with hand motions and he had a very special talent for making each of us feel as if we were his favorite.  Jeremy had the most beautiful eyes and sweet smile ever given to a child.&rdquo;</p>
            </div>

        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>