#stitchlink {
    width:20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
}

.stitchlink_txt{
    padding-top: 30px;
    color:#999999;
    font-size: 2em;
    text-transform: uppercase;    
    width:50%;
    margin-right: auto;
    margin-left: auto;
}

.stitchlink_txt:hover{
    color: white;
}