<div id='background_2'>
    <div class="aqtnav">
        <div id="explore-button" (click)='onExplore()'>
            <div class="aqtnav-button-label txt-reverse menuitem-bold">
                <span class = "txt-yellow-green">Explore</span><br />
                The<br />
                Quilt
                <div class="icon-explore"></div>
            </div>
        </div>
        <div id="participate-button" (click)='onMyQuilt()'>
            <div class="aqtnav-button-label txt-reverse">
                <span class = "txt-yellow-green menuitem-bold">
                    My<br />
                    Quilt<br />
                </span>
                <span style="font-size: 70%;">[participate]</span>
            </div>
        </div>
    </div>

    <globalnav4></globalnav4>
</div>
