<div id="women_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">SHIRLEY ANN GAULZETTI</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-women/2_4737.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text">&ldquo;It is our family&rsquo;s hope that people may stop to wonder how a 64 year old woman died of AIDS.  The answer is:  with dignity, grace and love…just like she lived her life.  I never thought I’d see my mom on television, talking about condoms.  I’m sure she never expected to either.  A local TV station had asked to interview her about the rising incidence of the virus among heterosexual women.  She called me to ask if I was ready for her to talk about AIDS so publicly.  Was I ready?  She was ready.  That&rsquo;s all I needed to know.&rdquo;</p>
                <p class="byline spacebelow40">--Janita Gaulzetti</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>
