<div id="aa_bak3"><!--background-->
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
			      <div class="col-xs-offset-1 col-xs-10">
			          <div class="heading">Iris De La Cruz</div>
			      </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <div class="row">
            <div class="col-sm-6 co-sm-offset-1 spaceabove20">
                <p class="body_text">&ldquo;My daughter, Iris De La Cruz was one of the first female activists in the world of AIDS.  There was no place for women to go with their illnesses.  She was told that nothing she had was AIDS related.  She went all over America to fight for women.  She started a support group for women with AIDS.  She ran heterosexual dances so that people with AIDS could touch and hug each other. She spoke at conferences to people in DC, begging for women’s issues to be recognized.</p>
                <p class="body_text">After she died in 1991, I continued her fight and finally opened the first center for women with AIDS in NY.  It is called the IRIS HOUSE in my daughters honor.  It is located on Adam Clayton Powell Blvd in NYC.&rdquo;</p>
            </div>
            <div class="col-sm-6">
                <div class="row spaceabove20 spacebelow10 audio_bak text-center">
                    <audio id="audioplayer" controls>
			            <source src="assets/threads/aids-activism/audio/Iris.mp3" type="audio/mpeg">
			            Your browser does not support the audio element.
			        </audio>
                </div>
                <div class="row spaceabove10 spacebelow40 align-center">
                    <img src="assets/threads/aids-activism/images/2_iris_de_la_cruz.jpg" width="100%">                    
                </div>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>  