<div id="heal_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">&nbsp;</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <!--<div class="row spaceabove20">
            <img src="assets/threads/{quiltimage.jpg}" width="90%">
        </div>-->
		<div class="row spaceabove20 spacebelow40">
			<div class="col-xs-offset-1">
                <div class="col-xs-11">
                    <p class="body_text">This thread gathers stories about the therapeutic role of the AIDS Quilt. For many panelmakers the experience of creating a panel was cathartic, working as a healing mourning process, which helped them deal with the loss of a loved one.</p>
                    <p class="body_text">Some of the memorialized individuals participated in the process of creating their own panels, which have helped them in the final stages of the disease.</p>
                    <p class="byline"></p>
                </div>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>