<div id="background_2">
	
	<div class="container-fluid">

	<!--<div class="aqtnav">-->

		<div class="row spaceabove20">
			<div class="col-xs-offset-1">
				<div id="explore_the_quilt-heading">
					<span class = "txt-yellow-green">Explore</span>
					<span class = "txt-reverse">The Quilt</span>
				</div>
			</div>
		</div>


		<div class="row spaceabove20" id="viewrandom-button" (click)='onRandom()'>
			<div class="col-xs-10 viewrandom-label vcenter">
				<div class="explore_the_quilt-menu txt-reverse ">
					View a Random Selection
				</div>
			</div>
			<div class="col-xs-1 icon-right vcenter"></div>
		</div>

		<div class="row spaceabove20" id="findname-button" (click)='findName()'>
			<div class="col-xs-10 npad-right vcenter">
				<div class="explore_the_quilt-menu txt-reverse">
					Find a Name
				</div>
			</div>
			<div class="col-xs-1 icon-right vcenter"></div>
		</div>

		<div class="row spaceabove20" id="taketour-button" (click)='takeTour()'>
			<div class="col-xs-10 npad-right vcenter">
				<div class="explore_the_quilt-menu txt-reverse">
					Take a tour
				</div>
			</div>
			<div class="col-xs-1 icon-right vcenter"></div>
		</div>
	<!--</div>-->
	</div>
	<globalnav4></globalnav4>
</div>
