<div class="globalnav">

    <div class = "navbutton6" id="back" (click)='onBack()'>
        <div class="icon-back-text-reverse center-block"></div>
    </div>

    <div class = "navbutton6" id="thread">
        <div class="icon-thread-text-reverse center-block" (click)='onThread()'></div>
    </div>

    <div class = "navbutton6" id="favorite">
        <div class="icon-favorite-text-reverse center-block"></div>
    </div>

    <div class = "navbutton6" id="stitch">
        <div class="icon-stitch-text-reverse center-block"></div>
    </div>

    <div class = "navbutton6" id="tour">
        <div class="icon-tour-text-reverse center-block"> </div>
    </div>

    <div class = "navbutton6" id="home" (click)='onHome()'>
        <div class="icon-home-text-reverse center-block"> </div>
    </div>

</div>
