<div class="globalnav">

    <div class = "navbutton4" id="back" (click)='onBack()'>
        <div class="icon-back-text-reverse center-block"></div>
    </div>

    <div class = "navbutton4" id="thread" (click)='onThread()'>
        <div class="icon-thread-text-reverse center-block"></div>
    </div>

    <div class = "navbutton4" id="tour" (click)='onTour()'>
        <div class="icon-tour-text-reverse center-block"> </div>
    </div>

    <div class = "navbutton4" id="home" (click)='onHome()'>
        <div class="icon-home-text-reverse center-block"> </div>
    </div>

</div>
