<div id="heal_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">Nicolas Corrado</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/healing/images/4_1322.jpg" width="90%">
        </div>

        <div class="row spaceabove40">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text">&ldquo;He was not the first friend of mine to die of AIDS but he was the closest to me and the first that I saw daily from diagnosis until his death.  His death changed me.  It was difficult for me to cry before he died, but after his death, the tears would not stop.</p>  
                <p class="body_text">His panel took me four years to start and four days to make.  The blanket on the panel was his.  During the last three months of his life I would visit him to cook, talk and later we would watch television wrapped up in this blanket.  It was not easy for me to give up his blanket, but after I started it felt good to give this tangible remembrance to the Quilt so that others could see it and maybe remember his name.&rdquo;</p>  
                <p class="byline spacebelow40">--Gregg Carron</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>