<div id="background_myquilt">
    <div class="container-fluid">
        <div class="row spaceabove40">
            <div class="col-xs-offset-2">
                <div class="pg-title txt-yellow-green">
                    <div id="my_quilt-heading">
                        My Quilt
                    </div>
                </div>
            </div>
        </div>

        <div class="row spaceabove20 vcenter-container" id="add_media-button" (click)='onAddContent()'>
            <div class="col-xs-9 col-xs-offset-1 button-label txt-reverse">
                Add Audio, Video, or Text Stories
            </div>
            <div class="col-xs-2 icon-right vcenter-content right-align"></div>
            </div>

        <div class="row spaceabove20 vcenter-container" id="my_favorites-button" (click)='onAddContent()'>
            <div class="col-xs-9 col-xs-offset-1 button-label txt-reverse">
                My Favorites
            </div>
        <div class="col-xs-2 icon-right vcenter-content right-align"></div>
        </div>

        <div class="row spaceabove20 vcenter-container" id="my_albums-button" (click)='onAddContent()'>
            <div class="col-xs-9 col-xs-offset-1 button-label txt-reverse">
                MyAlbums
            </div>
            <div class="col-xs-2 icon-right vcenter-content right-align"></div>
        </div>
    </div>
    <globalnav4></globalnav4>
</div>
