<div id="community_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-2 col-xs-9">
                <div class="heading">Camp Barney Medintz</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!-- <div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div> -->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-community/1_4484.jpg" width="90%">
        </div>

        <div class="row spaceabove20 spacebelow40">
            <div class="col-sm-11 co-sm-offset-1">
                <p class="body_text">
                  &ldquo;In the summer of 1994, the Jewish community in Atlanta realized that AIDS does affect them too and they initiated a program, ‘Awakening the Jewish Heart to AIDS.’ Since I had created a panel, I was asked to give a talk to the two summer youth camps about AIDS and the Quilt. Sadly at their young ages (13-18) they already knew seven friends or relatives who had died. I asked them if they wanted to create a panel to the memory of those they had lost. I broke them into small groups and each group came up with a pencil sketch of a one square foot panel. I took the sketches back to Atlanta and spent the next 36 hours at the sewing machine turning their sketches into a colorful and appropriate memorial.
                </p>
                <p class="body_text">            
                  I think the young people who made these panels were profoundly affected.  One young man, who on the first visit was haughty, aloof, and put out by the discussion, approached me after the presentation of the completed panel with tears in his eyes and said, &lsquo;I understand now. Thank you for changing my life!&rsquo;&rdquo;
                </p>
                <p class="byline">Rick Namors</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>