<div id="background_2">
	<div class="container-fluid">
		<div class="row spaceabove20">
			<div class="col-xs-offset-1 col-xs-10">
				<div id="block-heading">
				<span class="txt-reverse">Quilt Block: {{block.blockNum}}</span> 
				</div>
			</div>
		</div>
		<div class="row spaceabove20">
			<div class = "col-xs-offset-1 col-xs-10 col-sm-7">
				<img src='/assets/images/blockimg/{{block.imageUrl}}' width="100%">
			</div>

			<p>TODO: convert these to bootstrap collapsible with panel info, native bootstrap does not work, may need to install ngx-bootstrap directives</p>
			<div class = "col-sm-4">
				<div class = "row panel-button">
					<span class="txt-reverse">Panel1</span>
				</div>
				<div class = "row panel-button">
					Panel2
				</div>
				<div class = "row panel-button">
					Panel3
				</div>
				<div class = "row panel-button">
					Panel4
				</div>
				<div class = "row panel-button">
					Panel5
				</div>
				<div class = "row panel-button">
					Panel6
				</div>
				<div class = "row panel-button">
					Panel7
				</div>
				<div class = "row panel-button">
					Panel8
				</div>

			</div>
		</div>
	</div>
</div>
