<div id="background_2">
	<div class="container-fluid">
		<div class="row spaceabove20">
			<div class="col-xs-offset-1 col-xs-10">
				<div id="block-heading">
				<span class="txt-reverse">Quilt Block: {{block.blockNum}}</span> 
				</div>
			</div>
		</div>
		<div class="row spaceabove20">
			<div class = "col-xs-offset-1 col-xs-10 col-sm-7">
				<img src='/assets/images/blockimg/{{block.imageUrl}}' width="100%">
			</div>

			<div class = "col-sm-4">
				<div *ngFor="let panel of panels">
					<div [id]="panel.panelId" 
						class = "row panel-button txt-reverse" 
						(click)='toggleHidden(panel.panelId)'>
						Quilt Panel: {{panel.panelNum}}
					</div>

					<div class="panel-info" [hidden]="show!==panel.panelId">
						{{panel.panelId}}
						{{show}}
						Panel Info Goes Here and will be hidden <br />
						with toggled visibility based upon<br />
						something not yet written.
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
