<div id="community_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">Harvo Aoki</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!-- <div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div> -->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-community/7_5097.jpg" width="90%">
        </div>

        <div class="row spaceabove20 spacebelow40">
          <p class="body_text">
          &ldquo;By the time we completed the project – 2 a.m. on the day the Quilt exhibit opened – it was obvious that this quilt panel had deeply touched all those who worked on it.  We came to the sobering realization that we’re not invincible --- we&rsquo;re all cut from the same fabric and we&rsquo;re all vulnerable to this disease.
          </p>
          <p class="body_text"> 
          The creation of this panel was a community project. It was conceived by the Mono County AIDS Coordinator, designed and painted by Mammoth High School art students and assembled by a member of the Mammoth Hospital Board.&rdquo;
          </p>
          <p class="byline">
          Betsy Mellinger, Mammoth Hospital
          </p>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>