<div id="women_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-1 col-xs-10">
                <div class="heading">ALISON L. MCAULIFFE</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)= 'onNavForward()'></div>
        </div>

        <div class="row spaceabove20">
            <div class="col-sm-6">
                <p class="body_text spaceabove20">&ldquo;It was a beautiful, warm day in June 1989, when I got the call.  My daughter Alison told me she had some bad news – after trying to donate blood in the local blood drive, a community heath nurse had just told Alison that she was HIV positive. Alison made me promise that day that I would not tell anyone.  Two years later, Alison came down with PCP –the pneumonia associated with AIDS –and had to be hospitalized.  Alison and Greg then made a critical decision:  They went public.  And I mean public</p>
                <p class="body_text">How did Alamosa react?  Not a single medical person refused to treat Alison.  Not a single parent took their child of out of the school where Alison&rsquo;s children attended.  Not a single patient left Greg&rsquo;s then thriving medical practice.  Even when Alison recovered from the pneumonia, she continued to work for hospice, and none of her patients refused to let her continue to treat them.  The whole town rallied around the McAuliffe family.</p>
                <p class="body_text">Thank you for allowing me to share my sister’s memory with you.&rdquo;</p>
                <p class="byline spacebelow20">--Carlin Knight</p>
            </div>
            <div class="col-sm-6 ">

                <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
                    <audio id="audioplayer" controls>
                        <source src="assets/threads/{audio.mp3}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>-->
                <div class="row align-center spaceabove20">
                    <img src="assets/threads/aids-women/9_4403.jpg" width="100%">
                </div>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>
