@import "~mediaqueries.scss";

#heal_bak_light {
  background-image: url("../../../assets/images/backgrounds/healing_bak_bright.jpg");
  background-repeat: no-repeat;
  background-position: 40% 20%;
  background-attachment: fixed;
  /*background-size: 100% auto;*/
  background-size: auto 110%;
  min-height: 1024px;
  text-align: center;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #666666;
}

#heal_bak_dark {
  background-image: url("../../../assets/images/backgrounds/healing_bak_dark.jpg");
  background-repeat: no-repeat;
  background-position: 40% 0%;
  background-attachment: fixed;
  /*background-size: auto 100%;*/
  min-height: 1024px;
  text-align: center;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #666666;
}

#navback {
      background-image: url("../../../assets/images/icons/left_burnt.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 72px;
      top: 15px;
      left: 10px;
      opacity: 1;
      position: fixed;
}

#navforward{
      background-image: url("../../../assets/images/icons/right_burnt.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 72px;
      top: 15px;
      right: 10px;
      position: fixed;
      opacity: .8;
}


    .heading {
      font-size: 3em;
      margin-top: 5%;
      @include bp(iphone) {
        font-size: 2em;
        margin-top: 15%;
      }      
  }
  
  .body_text {
    font-size: 2em;
    @include bp(iphone) {
      font-size: 1.5em;
      margin-left: 25px;
    }
  }
  .byline {
  //defined in threads-base.scss  
    @include bp(iphone) {
      font-size: 1.4em;
    }
  }
  
  #audioplayer {
    width:100%;
  }
  
  .title_text{
    font-size: 6em;
    @include bp(iphone){
        margin-top: 25%; 
    }
    @include bp(iphone5-landscape){
        font-size: 3.8em;
        margin-top: 5%;
    }
    @include bp(iphone6plus-landscape){
        font-size: 3.8em;
        margin-top: 5%;
    }  
  }
        