<div id="background_mystory">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-xs-offset-2">
        <div class="pg-title txt-yellow-green">
          <div id="my_story-heading">
            My Story
          </div>
        </div>
      </div>
    </div>

    <div class="row media-icons">
      <div class="col-sm-2 col-sm-offset-3 text-center spaceabove20">
        <img src="../../../assets/images/icons/video180.png" width=140 />
      </div>
      <div class="col-sm-2 text-center spaceabove20">
          <img src="../../../assets/images/icons/audio180.png" width=140  />
      </div>
      <div class="col-sm-2 text-center spaceabove20">
          <img src="../../../assets/images/icons/keyboard180.png" width=140 (click)='onAddText()'/>
      </div>
    </div>

    <div class="row spaceabove40">
      <div class="col-xs-6 col-xs-offset-3">
        <p class = "text-center instruction-txt ">Click on an icon to add Video, Audio, or Text</p>
      </div>
    </div>

  </div>
</div>
