<div id="women_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">KRISTA BLAKE</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-women/3_4569.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text">&ldquo;One of the most heart-wrenching experiences a grandfather must endure is the death of a beautiful, intelligent 22 year-old granddaughter that he deeply loves.  It&rsquo;s been said that grown men don&rsquo;t cry, but you can believe me when I say that I cried and I still cry inside when I think about what has been lost.  My granddaughter and I had a marvelous relationship.  The love that engendered that relationship still endures and the dignity and strength with which she bore her affliction inspires and sustains me as I approach the winter of my life.&rdquo;</p>
                <p class="byline spacebelow40">--Krista&rsquo;s Opa (Grandfather)</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>
