<div id="aa_bak3"><!--background-->
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
			      <div class="col-xs-offset-1 col-xs-10">
			          <div class="heading">Roger Gail Lyon</div>
			      </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>
		
		<div class="row spaceabove20 spacebelow10 audio_bak text-center">
			<audio id="audioplayer" controls>
				<source src="assets/threads/aids-activism/audio/Roger.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
		</div>

		<div class="row spaceabove20">
			<!--<div class="col-md-offset-1 col-md-10 ">-->
                <img src="assets/threads/aids-activism/images/1_roger_gail_lyon.jpg" width="90%">
			<!--</div>-->
		</div>

		<div class="row spaceabove20">
			<div class="col-xs-offset-1 col-xs-10 ">
				<p class="body_text">&ldquo;Roger Gail Lyon should be remembered as an AIDS activist.  He was one of the first in San Francisco to die of AIDS.  While others were hiding in the shadows, Roger stood forth and told the world that he had AIDS.  His courage convinced others to do the same…He was featured on the cover of Physicians Magazine at a time when others would only do so with their identities concealed.  Roger was dying but even then, he continued to open his life to the world in the hopes of a cure someday for others.  His panel and other belongings are now at the Smithsonian so the world will know what this man did in the fight to end AIDS.&rdquo;</p>
				<p class="byline spacebelow40">&mdash;Gert McMullin</p>
			</div>
		</div>
		<div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
	</div>
</div>