<div id="community_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-2 col-xs-9">
                <div class="heading">Tom, Teresa, Joseph, Richard</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!-- <div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div> -->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-community/4_4631.jpg" width="90%">
        </div>

        <div class="row spaceabove20 spacebelow40">
            <div class="col-sm-6 co-sm-offset-1">
                        
                <p class="body_text">
                  &ldquo;Tom and Teresa were husband and wife. Rick and Joe were neighbors from childhood.  The four lived less than 20 miles apart, yet didn’t know each other. Each of their mothers has met and we&rsquo;ve formed friendships. We&rsquo;ve met at Rich&rsquo;s Mom&rsquo;s house to create and do our quilts with much love and support.  Through our grief and losses we&rsquo;ve formed friendships and found much comfort from each other.&rdquo;                </p>
                <p class="byline">The mothers of Tom Celarek, Teresa Celarek, Joseph Dash and Richard Hestand</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>