<div id="heal_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-1 col-xs-10">
                <div class="heading">Robert Giudici</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)= 'onNavForward()'></div>
        </div>

        <div class="row">
            <div class="col-sm-6 co-sm-offset-1 spaceabove20">
                <p class="body_text">&ldquo;What can I say about my son?  How can I truly convey who my son was?  He was my only son.  He was the little boy who helped me make cookies, the child who loved to dance, fish and play with our dog.  He was the child who would say how important families were; to keep those ties bound.</p>
                <p class="body_text">The process of completing the panel has been a healer for me.  I made the family square first.  This contains a necktie he wore often to work, his favorite shirt, a pillowcase from his bed, a handprint he made in kindergarten, and a picture he drew of himself and his sister.  After completing this panel, I still felt incomplete.  After some thought, I made the black and white square as a personal message, tribute, but not good-bye, just till we meet again.&rdquo;</p>
                <p class="byline spacebelow40">--Carol Garvey</p>
            </div>

            <div class="col-sm-6">
                <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
                    <audio id="audioplayer" controls>
                        <source src="assets/threads/{audio.mp3}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>-->

                <div class="row spaceabove20 spacebelow40 align-center">
                    <img src="assets/threads/healing/images/2_5424.jpg" width="100%">
                </div>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>