<div id="community_bak_dark">
  <div class="container">
    <div class = "row">
      <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
      <div class="col-xs-offset-1 col-xs-10">
        <div class="heading">Washo Medicine Wheel</div>
      </div>
      <div id="navforward" class="col-xs-1" (click)= 'onNavForward()'></div>
    </div>

    <div class="row">
      <div class="col-sm-8 spaceabove40">
        <img src="assets/threads/aids-community/3_5426.jpg" width="100%">
      </div>
      <div class="col-sm-4 co-sm-offset-1 spaceabove20">
        <p class="body_text">
          &ldquo;I have been working with Native-American students in our area. Each student made a square representing themselves as individuals who speak with one voice in the statement, &lsquo;Help Protect the Balance – Learn About AIDS.&rsquo; The Washo Medicine Wheel is displayed on The Quilt, which represents the physical, emotional, spiritual and mental aspects of a person in balance. We would be very honored if our work could join the NAMES Project and speak to all those who experience the healing power of the quilts.  
        </p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>