<div id="children_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                <!--<div class="col-xs-12">-->
                    <div class="heading">Kara Claypool</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-children/6_4148.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
            <!--<div class="col-xs-12 ">-->
                <p class="body_text">&ldquo;On behalf of the students and staff at Willard Elementary School in Spokane, Washington, I would like to present this Willard quilt square in fondest memory of Kara Claypool.  Kara enjoyed two years of school with us before her death in August of 1995 and we certainly enjoyed Kara.  She appreciated every day, and helped us to focus on what is actually important in life.  After taking her medication in the office at lunch, she always stopped to chat with me and collect a surprise.  She thought it was her reward; sharing time with her was mine.&ldquo;</p>
                <p class="byline">--Gene Wooley, Principal, Willard Elementary School</p>
                <p class="body_text">This panel is also part of the Community Thread</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>