<div id="community_bak_dark">
	<div class="container">
		<!--<div id="navback"></div>-->
		<div class="row spaceabove40"(click)='onNavForward()'>
			<div class="col-xs-offset-1">
        <div class="title_text col-sm-10">AIDS &amp; Community</div>
			</div>
		</div>
    <div class="row">
			<div class="col-sm-offset-2 col-sm-9 subtitle">
        A vital sense of community brings people together to create a panel for a loved one. This thread presents panels made by groups to remember a member (or members) that passed away of HIV/ AIDS.
      </div>
      
    </div>

		<div id="navforward" (click)='onNavForward()'></div>
	</div>
	<globalnav4></globalnav4>
</div>