

<div id="aboutContainer" (click) ='onBack()'>
    <div class="close">
        <div class = "icon-close-reverse"></div>
    </div>
    <div class="about_frame">
        <div class="row">
            <h3>About</h3>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <p class="about_text">AIDS Quilt Touch  is the  online digital expression of the 1.4 million square foot AIDS Memorial Quilt;</p>
                <p class="about_text">When fully launched in its 2.0 version later this year, AIDS Quilt Touch will allow visitors to not only search the Quilt, and learn about its history, but also to add comments, upload videos, photographs and audio, contributing their experiences and rembrances.</p>
                <p class="about_text">It is our goal that  AIDS Quilt Touch, like the Quilt itself,  will help honor and remember the lives lost while promoting HIV-AIDS awareness.  We also hope it will  be a model for public digital humanities research, design and production.</p>
                <p class="about_text">We are grateful to all the people who have contributed to this effort. </p>
                <ul>
                    <li>Anne Balsamo</li>
                    <li>Leticia Ferreira de Souza</li>
                    <li>Eva Jacobus</li>
                    <li>Dale MacDonald</li>
                    <li>Mark NeuCollins</li>
                    <li>Apoorva Raikwar</li>
                    <li>Jillian Round</li>
                    <li>Jon Winet</li>
                </ul>
                
                <p class="about_text">And all our contributing collaborators who have given generously of their time and expertise.</p>
                <ul>
                    <li>University of Texas at Dallas</li>
                    <li>The University of Iowa </li>
                    <li>The National Endowment for the Humanities</li>
                    <li>The NAMES Project Foundation</li>
                </ul>
            </div>
            <div class="col-sm-6">
              <iframe width="640" height="360" src="https://www.youtube.com/embed/BSE7SaoR_mM?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div id='background_1'></div>
