<div id="women_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">NIKKI CORTEZ</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-women/8_5586.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text spaceabove20">Roman Cortez had the help of his 5th grade class in creating a panel for his mother, Nikki who died from AIDS in September 1998.  Together they created a panel that included Nikki&rsquo;s favorite things including her love of music, picnics in the mountains and of course, shooting hoops with Roman.  The students also planned carefully to include a shade of Nikki&rsquo;s favorite color purple in every section of the panel.</p>
                <p class="body_text">This panel is also part of the Ethnicity Thread </p><!-- I don’t believe this will be the final name of this thread so not sure how to deal with this issue. I will confer with Leticia on Monday - 5/22/17 -->
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>
