#aa_bak1 {
  background-image: url("../../../../assets/images/backgrounds/workroom_bak.jpg");
  background-repeat: no-repeat;
  background-position: 40% 0%;
  background-attachment: fixed;
  background-size: auto 100%;
  min-height: 1200px;
  text-align: center;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
}
.title_text {
    position: fixed;
}


/*generic smartphone in landscape mode*/
@media only screen 
    and (min-width: 320px) 
    and (max-width: 736px) 
    and (orientation: landscape) {
      .title_text{
        font-size: 3.8em;
        margin-top: 5%;
      }
      #aa_bak1 {
          background-size: auto 100%;
      }
    }

/*generic smartphone in portrait mode*/
@media only screen 
    and (min-width: 320px) 
    and (max-width: 736px) 
    and (orientation: portrait) {
      .title_text{
        margin-top: 5%;
        font-size: 4em;
      }
    }

