<div id="aa_bak2"><!--background-->
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">&nbsp;</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

		<div id="textblock" class="row">
			<div class="col-xs-offset-1">
                <div class="col-xs-11">
                <p class="body_text">
                    The history of the AIDS Quilt is deeply intertwined with  AIDS activism. The Quilt has always served both as a space of memorialization and as a tool to pressure government and pharma to create just policies.
                </p>
                <p class="body_text">
                    When displayed in the Washington Mall, the Quilt literally laid down a body count at the feet of politicians, urging them to address a global crisis affecting all.
                </p>
                </div>
			</div>
		</div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>

</div>