<div id="community_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-2 col-xs-9">
                <div class="heading">Mr. Gray</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!-- <div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div> -->

        <div class="row spaceabove20">
            <img src="assets/threads/aids-community/5_4048.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-sm-6 co-sm-offset-1">
                <p class="body_text">
                  &ldquo;Mr. Gray was my high school drama teacher.  During my Senior Year (1990), we staged &lsquo;A Midsummer Night's Dream&rsquo; and Mr. Gray cast me as Oberon.  Please read aloud Oberon's speech, V:1, lines 417-424 and think of Mr. Gray.&rdquo;
                </p>
                <p class="byline">David Sinolan</p>
            </div>
        </div>
        <div class="row spaceabove20 spacebelow40">
            <div class="col-sm-offset-3 col-sm-8 col-xs-offset-1 col-xs-10">
                <p class = "body_text">
                  <i>&ldquo;With this field-dew consecrate,<br />
                  Every fairy take his gait,<br />
                  And each several chamber bless,<br />
                  Through this palace, with sweet peace, <br />
                  And the owner of it blest<br />
                  Ever shall in safety rest.<br />
                  Trip away; make no stay;<br />
                  Meet me all by break of day.&rdquo;<br />
                  </i>
                </p>
                <p class = "byline">
                  &mdash;A Midsummer Night&rsquo;s Dream
                </p>
            </div>
        </div>

        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>