@import "~mediaqueries.scss";

.indent{
    margin-left:20px;
    font-size: 2em;
    color: white;
    text-align: left;
    margin-left: 25px;
    @include bp(iphone) {
        margin-left: 10px
      }      
}
