#background_1{
  background-image: url("../../assets/images/backgrounds/background_white_c.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*background-size: auto 100%;*/
  min-height: 1024px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  overflow: hidden;
}

/*.container:before {
    height: 20%;
}*/

.logoContainer {
  text-align:center; /* Align center inline elements */
  font: 0/0 a;       /* Hide the characters like spaces */
  margin-top: 125px;
}


.logoContainer img {
  display: inline-block;
  width: 50%;
  /*position: fixed;*/
}




@media screen and (orientation: landscape) {
    .logoContainer {
        margin-top: 50px;
    }
    .logoContainer img {
        display: inline-block;
        width: 25%;
    }
}