<div id="heal_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="heading">David Scott O’Brien</div>
                </div>
            <div id="navforward" class="col-xs-1" (click)='onNavForward()'></div>
        </div>

        <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
            <audio id="audioplayer" controls>
                <source src="{audiosource.mp3}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        <div class="row spaceabove20">
            <img src="assets/threads/healing/images/9_5810.jpg" width="90%">
        </div>

        <div class="row spaceabove20">
            <div class="col-xs-offset-1 col-xs-10 ">
                <p class="body_text">&ldquo;This panel is for my bother and it has been a long time journeying to you.  Scott died of AIDS in March, 1994.  We – Scott’s family and friends – started his quilt panel in the spring of 1996, and we are submitting it to you in March 2009.  In the years in between, the panel has traveled around the United States and Canada as each person or family contributed to it.  Its creation has been a true international and cosmopolitan endeavor.  It has also been an endeavor of great procrastination at times.  In other words, it is a most fitting tribute to a much-loved, funny, and creative man who was blessed with devoted friends in diverse places and who was an accomplished procrastinator himself! </p>
                <p class="body_text">…And so we join with all of the many, many quilt makers over the years who have honored the ones they love with pieces of their own hearts as we commit Scott’s panel into your tender care.&rdquo;</p>
                <p class="byline spacebelow40">--Patricia O’Brien Moyle</p>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>