@import "~mediaqueries.scss";

.subtitle {
    margin-top:18%;
    position:fixed;
    font-size: 2.5em;
    color: white;
    text-align: left;
    margin-left: 25px;

    @include bp(iphone6plus-landscape){
        margin-top: 5%;
        margin-right: 10%
    }
    @include bp(iphone){
        margin-top: 15%;
        margin-left: 25%;
        font-size: 2em;
    }
}