<div id="heal_bak_dark">
    <div class="container">
        <div class = "row">
            <div id="navback" class="col-xs-1" (click)='onNavBack()'></div>
            <div class="col-xs-offset-1 col-xs-10">
                <div class="heading">Bob Roe</div>
            </div>
            <div id="navforward" class="col-xs-1" (click)= 'onNavForward()'></div>
        </div>

        <div class="row">
            <div class="col-sm-6 co-sm-offset-1 spaceabove20">
                <p class="body_text">&ldquo;I created this panel in memory of Robert William Roe who died of AIDS in 2002.  Bob was my brother, my hero, and my best friend.  He designed the panel in the early 1990’s after he became ill.  It is a combination of two Matisse paintings depicting a central human figure reaching to the stars and surrounded by windows of color with the words &lsquo;Salvation Is Created&rsquo; embroidered at the bottom…</p>
                <p class="body_text">After my brother Bob died, I had no idea how to proceed.  I bought a sewing machine, learned how to appliqué and embroider, and finally took a deep breath and started.  One of Bob’s gifts to me was to introduce me to a whole new world of quilting and friendship that helped to support me in my grief…It was my privilege to walk with Bob during the last months of his illness and to be with him when he died.  He faced his disease with courage, dignity and humor.  He will always be my hero and my inspiration.  May this Quilt panel serve to honor him and to keep him in our hearts forever.&rdquo;</p>
                <p class="byline spacebelow40">--Diana Gaskell</p>
            </div>
            <div class="col-sm-6">
                <!--<div class="row spaceabove20 spacebelow10 audio_bak text-center">
                    <audio id="audioplayer" controls>
                        <source src="assets/threads/{audio.mp3}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>-->
                <div class="row spaceabove10 align-center">
                    <img src="assets/threads/healing/images/8_5756.jpg" width="100%">
                </div>
            </div>
        </div>
        <div class= "icon-stitch-text-reverse" (click)='onThreads()'></div>
    </div>
</div>